<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fw-bold fs-5">PPT 설정 & 다운로드</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- <div class="row"> -->
          <form>
            <label for="modal-filename" class="col-form-label fw-bold">파일명</label>
            <div class="input-group input-group-sm mb-3">
              <input type="text" class="form-control" id="modal-filename"/>
              <span class="input-group-text" id="basic-addon2">.pptx</span>
            </div>
            <hr/>

            <div class="row">
              <div class="col-lg-7">
                <div>
                  <label for="modal-title" class="col-form-label fw-bold">가사 설정</label>

                  <div>
                    <label class="col-form-label">색상 프리셋</label>
                    <div class="d-flex gap-2">
                      <div>
                        <input type="radio" class="btn-check" name="preset-color" id="preset1" autocomplete="off"
                          value='preset1'>
                        <label class="btn" for="preset1" style="background-color: #009933;color: #FFFFFF;">1</label>
                      </div>
                      <div>
                        <input type="radio" class="btn-check" name="preset-color" id="preset2" value='preset2'
                          autocomplete="off">
                        <label class="btn" for="preset2" style="background-color: #1e1e2e;color: #cdd6f4;">2</label>
                      </div>
                      <div>
                        <input type="radio" class="btn-check" name="preset-color" id="preset3" value='preset3'
                          autocomplete="off">
                        <label class="btn" for="preset3" style="background-color: #eff1f5;color: #8839ef;">3</label>
                      </div>
                      <div>
                        <input type="radio" class="btn-check" name="preset-color" id="preset4" value='preset4'
                          autocomplete="off">
                        <label class="btn" for="preset4" style="background-color: #f2cdcd;color: #4c4f69;">4</label>
                      </div>
                      <div>
                        <input type="radio" class="btn-check" name="preset-color" id="preset5" value='preset5'
                          autocomplete="off">
                        <label class="btn" for="preset5" style="background-color: #94e2d5;color: #303446;">5</label>
                      </div>
                      <div>
                        <button type="button" class="btn" id="preset-color-custom" style="
                            background: linear-gradient(50deg, #ff8787 0%, #ffd43b 30%, #63e6be 60%, #74c0fc 100%);
                            color: white;
                            border-color: #ffd43b;
                          ">
                          custom
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex gap-2">
                    <div>
                      <label for="bg-color-input" class="col-form-label">배경색</label>
                      <input type="color" class="form-control form-control-color" id="bg-color-input" value="#563d7c"/>
                    </div>
                    <div>
                      <label for="font-color-input" class="col-form-label">글자색</label>
                      <input type="color" class="form-control form-control-color" id="font-color-input"
                        value="#563d7c"/>
                    </div>
                  </div>

                  <label class="col-form-label">가로 정렬</label>
                  <div>
                    <div class="btn-group">
                      <input type="radio" class="btn-check" name="horizontal-align" id="horizontal-left-input"
                        value="left" autocomplete="off">
                      <label class="btn btn-sm btn-outline-secondary" for="horizontal-left-input">
                        <i class="fa-solid fa-align-left"></i>
                      </label>
                      <input type="radio" class="btn-check" name="horizontal-align" id="horizontal-center-input"
                        value="center" autocomplete="off">
                      <label class="btn btn-sm btn-outline-secondary" for="horizontal-center-input">
                        <i class="fa-solid fa-align-center"></i>
                      </label>
                      <input type="radio" class="btn-check" name="horizontal-align" id="horizontal-right-input"
                        value="right" autocomplete="off">
                      <label class="btn btn-sm btn-outline-secondary" for="horizontal-right-input">
                        <i class="fa-solid fa-align-right"></i>
                      </label>
                    </div>
                  </div>

                  <label class="col-form-label">수직 정렬</label>
                  <div>
                    <div class="btn-group">
                      <input type="radio" class="btn-check" name="vertical-align" id="vertical-top-input" value="top"
                        autocomplete="off">
                      <label class="btn btn-sm btn-outline-secondary" for="vertical-top-input">
                        상
                      </label>
                      <input type="radio" class="btn-check" name="vertical-align" id="vertical-center-input"
                        value="middle" autocomplete="off">
                      <label class="btn btn-sm btn-outline-secondary" for="vertical-center-input">
                        중
                      </label>
                      <input type="radio" class="btn-check" name="vertical-align" id="vertical-bottom-input"
                        value="bottom" autocomplete="off">
                      <label class="btn btn-sm btn-outline-secondary" for="vertical-bottom-input">
                        하
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div>
                  <label class="form-label fw-bold">미리보기</label>
                  <div class="card ratio ratio-16x9">
                    <div class="card-body d-flex p-1" id="preview-ppt">
                      <p class="card-text" id="preview-text">첫번째줄 자막입니다<br/>두번째줄 자막입니다</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-success btn-lg w-100 mx-2" id="download-btn">
          <i class="fa-solid fa-download"></i>
          다운로드
        </button>
      </div>
    </div>
  </div>
</div>