<div class="card">
  <div class="card-header">
    {# nav tabs #}
    <nav class="nav nav-pills card-header-pills nav-fill nav-justified" id='contents-tab'>
      <button type='button' class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-lyrics">
        <i class="fa-regular fa-file-lines"></i> 가사
        </button>
      <button type='button' class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-hymn">
        <i class="fa-solid fa-music"></i> 찬송가
        </button>
      <button type='button' class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-bible">
        <i class="fa-solid fa-book-bible"></i> 성경
        </button>
      <button type='button' class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-responsive-reading">
        <i class="fa-solid fa-scroll"></i> 교독문
        </button>
    </nav>
  </div>

  <div class="card-body">
    {# tab panes #}
    <div class="tab-content" id="pills-tabContent">
      <!-- lyrics tab-->
      <div class="tab-pane fade show active" id="pills-lyrics" role="tabpanel" aria-labelledby="pills-lyrics-tab" tabindex="0">
        {% include './tabs/lyrics.njk' %}
      </div>
      <!-- hymn search tab-->
      <div class="tab-pane fade" id="pills-hymn" role="tabpanel" aria-labelledby="pills-hymn-tab" tabindex="0">
        {% include './tabs/hymn.njk' %}
      </div>
      <!-- bible search tab-->
      <div class="tab-pane fade" id="pills-bible" role="tabpanel" aria-labelledby="pills-bible-tab" tabindex="0">
        {% include './tabs/bible.njk' %}
      </div>
      <!-- responsive reading search tab-->
      <div class="tab-pane fade" id="pills-responsive-reading" role="tabpanel" aria-labelledby="pills-responsive-reading-tab" tabindex="0">
        {% include './tabs/responsive-reading.njk' %}
      </div>
    </div>
  </div>
</div>