<div class="card">
  <div class="card-body position-relative">
    <h5 class="card-title fw-bold mb-3">선택된 목록</h5>

    <button type="button" class="btn btn-link text-secondary position-absolute top-0 end-0 m-1" id="clear-button">
      <i class="fa-solid fa-trash"></i>
    </button>

    <ol class="list-group gap-2" id="setlist" style="max-height: 516px; overflow: auto"></ol>
  </div>

  <div class="card-footer text-center">
    <button type="button" class="btn btn-success w-100" id="settings-btn" disabled>
      <i class="fa-solid fa-file-powerpoint me-1"></i>PPT 생성
    </button>
  </div>
</div>