{% extends 'layout.html' %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <h1 id="app-title">Worship Presenter</h1>
    <p>Worship Presenter는 예배에 사용되는 자료를 관리하고 PPT로 쉽게 만들 수 있도록 도와주는 툴 입니다.</p>

    <h3>기능</h3>
    <ol>
      <li>가사 등록, 검색, 등록, 삭제 및 PPT 생성</li>
      <li>찬송가 PPT 생성</li>
      <li>성경 PPT 생성</li>
      <li>교독문 PPT 생성</li>
    </ol>

    <h3>사용 방법</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam accusamus delectus nisi voluptate ut amet
      pariatur quam architecto doloribus, perspiciatis illo voluptatem vitae expedita odit unde, quae repellat!
      Accusamus, magnam.
    </p>
  </div>
</div>

{% endblock %}
