{% extends 'layout.html' %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <h1 class="text-center" id="app-title">Worship Presnter</h1>

    <form name="loginform" id="loginform" action="/auth/login" method="post">
      <div class="form-group">
        <label for="user_login">Email</label>
        <input type="email" name="email" id="email" class="form-control" value="" size="20" />
      </div>
      <div class="form-group">
        <label for="user_pass">Password</label>
        <a class="form-sublink" href="https://themes.getbootstrap.com/my-account/lost-password/">Forgot password?</a>
        <input type="password" name="password" id="password" class="form-control" value="" size="20" />
      </div>

      <p class="login-remember">
        <label><input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me</label>
      </p>
      <div class="form-group">
        <input type="submit" class="btn btn-primary mb-4" value="Sign In" />
      </div>
    </form>
    <p class="small text-center text-gray-soft">Don't have an account yet? <a href="/auth/signup">Sign up</a></p>
  </div>
</div>

{% endblock %} {% block script %} {% endblock %}
