{% extends 'layout.html' %} {% block content %}

<div class="container-xxl mt-2">
  <div class="row justify-content-center">
    <!-- set list -->
    <div class="col-lg-4 my-2">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <h5 class="card-title fw-bold">선택된 목록</h5>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              id="clear-button"
            >
              비우기
            </button>
          </div>

          <ol
            class="list-group gap-2"
            id="setlist"
            style="max-height: 516px; overflow: auto"
          ></ol>
        </div>

        <div class="card-footer text-center">
          <button
            type="button"
            class="btn btn-success w-75"
            id="generate-btn"
            disabled
          >
            PPT 다운로드
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary w-auto"
            data-bs-toggle="modal"
            data-bs-target="#settingsModal"
            disabled
          >
            ⚙️
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-8 my-2">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a
                class="nav-link active"
                href="#"
                data-bs-toggle="pill"
                data-bs-target="#pills-lyrics"
                >가사</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-bs-toggle="pill"
                data-bs-target="#pills-hymn"
                >찬송가</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-bs-toggle="pill"
                data-bs-target="#pills-bible"
                >성경</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-bs-toggle="pill"
                data-bs-target="#pills-responsive-reading"
                >교독문</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                data-bs-toggle="pill"
                data-bs-target="#pills-text"
                >텍스트</a
              >
            </li>
          </ul>
        </div>

        <div class="card-body">
          <div class="tab-content" id="pills-tabContent">
            <!-- lyrics search tab-->
            <div
              class="tab-pane fade show active"
              id="pills-lyrics"
              role="tabpanel"
              aria-labelledby="pills-lyrics-tab"
              tabindex="0"
            >
              <div class="d-flex justify-content-end mb-3">
                {% if user %}
                <button
                  class="btn btn-primary btn-sm"
                  type="button"
                  id="new-button"
                >
                  새로 등록하기
                </button>
                {% else %}
                <button
                  class="btn btn-primary btn-sm"
                  type="button"
                  onclick="location.href='/auth/login'"
                >
                  새로 등록하기
                </button>
                {% endif %}
              </div>

              <div class="input-group my-3">
                <div class="col-auto">
                  <label class="visually-hidden" for="specificSizeSelect"
                    >Preference</label
                  >
                  <select class="form-select" id="search-type-select">
                    <option value="title" selected="selected">제목</option>
                    <option value="lyrics">가사</option>
                  </select>
                </div>
                <input type="search" class="form-control" id="search-input" />
                <button
                  class="btn btn-outline-primary"
                  type="button"
                  id="search-btn"
                >
                  검색
                </button>
              </div>

              <div
                class="text-center mb-2 text-body-secondary"
                id="search-info"
                hidden
              ></div>

              <div class="table-responsive text-nowrap">
                <table class="table table-hover" id="search-table">
                  <thead class="table-warning">
                    <tr class="text-center">
                      <th style="width: 5%">#</th>
                      <th style="width: 5%">타입</th>
                      <th>제목</th>
                      <th style="width: 5%">선택</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>

              <nav aria-label="Page navigation">
                <ul
                  class="pagination pagination-sm justify-content-center"
                  id="search-pagination"
                ></ul>
              </nav>
            </div>

            <!-- hymn search tab-->
            <div
              class="tab-pane fade"
              id="pills-hymn"
              role="tabpanel"
              aria-labelledby="pills-hymn-tab"
              tabindex="0"
            >
              <select class="form-select mb-3" id="hymn-select">
                <option value="">찬송가 선택</option>
              </select>

              <!-- hymn image slide -->
              <div class="card mb-2">
                <div class="card-body">
                  <div
                    class="carousel carousel-dark slide my-1"
                    id="hymn-carousel"
                  >
                    <div class="carousel-indicators" id="hymn-indicators">
                      <button
                        type="button"
                        data-bs-target="#hymn-carousel"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"
                      ></button>
                      <button
                        type="button"
                        data-bs-target="#hymn-carousel"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"
                      ></button>
                      <button
                        type="button"
                        data-bs-target="#hymn-carousel"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"
                      ></button>
                    </div>
                    <div class="carousel-inner" id="hymn-slide">
                      <div class="carousel-item active">
                        <!-- <img src="default-image.jpg" alt="Default Image"> -->
                        <div class="carousel-caption">
                          <h5>Default Content</h5>
                          <p>
                            This is the default content to be displayed when
                            there is no data available.
                          </p>
                        </div>
                      </div>
                    </div>
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#hymn-carousel"
                      data-bs-slide="prev"
                    >
                      <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#hymn-carousel"
                      data-bs-slide="next"
                    >
                      <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div id="hymn-image-btn"></div>
                </div>
              </div>

              <!-- hymn lyrics -->
              <div class="card">
                <div class="card-body" id="hymn-card-body">
                  <p class="card-text text-body-secondary text-center">
                    찬송가를 선택해 주세요.
                  </p>
                </div>
              </div>
            </div>

            <!-- bible search tab-->
            <div
              class="tab-pane fade"
              id="pills-bible"
              role="tabpanel"
              aria-labelledby="pills-bible-tab"
              tabindex="0"
            >
              <select class="form-select" id="version">
                <option value="NKRV" selected>개역개정</option>
              </select>

              <div class="input-group my-2">
                <select class="form-select me-1" id="book" name="book">
                  <option value="">성경 선택</option>
                  <optgroup label="구약">
                    <option value="1">창세기</option>
                    <option value="2">출애굽기</option>
                    <option value="3">레위기</option>
                    <option value="4">민수기</option>
                    <option value="5">신명기</option>
                    <option value="6">여호수아</option>
                    <option value="7">사사기</option>
                    <option value="8">룻기</option>
                    <option value="9">사무엘상</option>
                    <option value="10">사무엘하</option>
                    <option value="11">열왕기상</option>
                    <option value="12">열왕기하</option>
                    <option value="13">역대상</option>
                    <option value="14">역대하</option>
                    <option value="15">에스라</option>
                    <option value="16">느헤미야</option>
                    <option value="17">에스더</option>
                    <option value="18">욥기</option>
                    <option value="19">시편</option>
                    <option value="20">잠언</option>
                    <option value="21">전도서</option>
                    <option value="22">아가</option>
                    <option value="23">이사야</option>
                    <option value="24">예레미야</option>
                    <option value="25">예레미야애가</option>
                    <option value="26">에스겔</option>
                    <option value="27">다니엘</option>
                    <option value="28">호세아</option>
                    <option value="29">요엘</option>
                    <option value="30">아모스</option>
                    <option value="31">오바댜</option>
                    <option value="32">요나</option>
                    <option value="33">미가</option>
                    <option value="34">나훔</option>
                    <option value="35">하박국</option>
                    <option value="36">스바냐</option>
                    <option value="37">학개</option>
                    <option value="38">스가랴</option>
                    <option value="39">말라기</option>
                  </optgroup>
                  <optgroup label="신약">
                    <option value="40">마태복음</option>
                    <option value="41">마가복음</option>
                    <option value="42">누가복음</option>
                    <option value="43">요한복음</option>
                    <option value="44">사도행전</option>
                    <option value="45">로마서</option>
                    <option value="46">고린도전서</option>
                    <option value="47">고린도후서</option>
                    <option value="48">갈라디아서</option>
                    <option value="49">에베소서</option>
                    <option value="50">빌립보서</option>
                    <option value="51">골로새서</option>
                    <option value="52">데살로니가전서</option>
                    <option value="53">데살로니가후서</option>
                    <option value="54">디모데전서</option>
                    <option value="55">디모데후서</option>
                    <option value="56">디도서</option>
                    <option value="57">빌레몬서</option>
                    <option value="58">히브리서</option>
                    <option value="59">야고보서</option>
                    <option value="60">베드로전서</option>
                    <option value="61">베드로후서</option>
                    <option value="62">요한1서</option>
                    <option value="63">요한2서</option>
                    <option value="64">요한3서</option>
                    <option value="65">유다서</option>
                    <option value="66">요한계시록</option>
                  </optgroup>
                </select>
                <select class="form-select me-1" id="chapter">
                  <option value="">장 선택</option>
                </select>
                <select class="form-select" id="verse">
                  <option value="">전체</option>
                </select>
              </div>

              <div class="input-group my-3">
                <input
                  type="search"
                  class="form-control"
                  id="bible-input"
                  placeholder="창 1, 창 1:1, 창1:3-7, 또는 창세기 1, 창세기 1:1, 창세기 1:3-7"
                />
                <button
                  class="btn btn-outline-primary"
                  type="button"
                  id="search-bible-btn"
                >
                  검색
                </button>
              </div>

              <div class="card border-primary border-2 border-opacity-50">
                <div class="card-header d-flex align-items-center">
                  <span class="fw-bold fs-5" id="bible-title">&nbsp;</span>
                  <button
                    class="btn btn-primary btn-sm ms-2"
                    id="bible-select-all"
                    hidden
                  >
                    전체 선택
                  </button>
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center"></h5>
                  <h6 class="card-subtitle mb-2 text-muted text-center"></h6>
                  <ul class="list-group list-group-flush" id="bible-list">
                    <li class="list-group-item text-body-secondary text-center">
                      성경을 선택해 주세요.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- responsive reading search tab-->
            <div
              class="tab-pane fade"
              id="pills-responsive-reading"
              role="tabpanel"
              aria-labelledby="pills-responsive-reading-tab"
              tabindex="0"
            >
              <select
                class="form-select mb-3"
                id="responsive-reading-select"
                aria-label="Default select example"
              >
                <option value="">교독문 선택</option>
              </select>

              <div class="card">
                <div class="card-body" id="rr-card-body">
                  <p class="card-text text-body-secondary text-center">
                    교독문을 선택해 주세요.
                  </p>
                </div>
              </div>
            </div>

            <!-- todo : new-text slide tab-->
            <div
              class="tab-pane fade"
              id="pills-text"
              role="tabpanel"
              aria-labelledby="pills-text-tab"
              tabindex="0"
            >
              text here
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- lyrics detail modal -->
<div
  class="modal fade"
  id="songDetailModal"
  tabindex="-1"
  aria-labelledby="songDetailModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center text-truncate">
          <h1 class="modal-title fs-5" id="songDetailModalLabel">New Song</h1>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <form>
                <div class="form-floating mb-2">
                  <input
                    type="text"
                    class="form-control"
                    id="modal-title"
                    placeholder="제목을 입력해주세요."
                  />
                  <label for="modal-title">제목</label>
                </div>
                <div class="form-floating mb-2 mb-lg-0">
                  <textarea
                    class="form-control"
                    placeholder="가사를 입력해주세요."
                    id="modal-lyrics"
                    style="height: 280px"
                  ></textarea>
                  <label for="modal-lyrics">가사</label>
                </div>
              </form>
            </div>
            <div class="col-lg-6">
              <!-- <div class="mb-2">
                <input
                  type="radio"
                  class="btn-check"
                  name="song-type"
                  id="hymn-radio"
                  value="HYMN"
                  autocomplete="off"
                />
                <label class="btn btn-sm btn-outline-success" for="hymn-radio">찬송가</label>
                <input type="radio" class="btn-check" name="song-type" id="ccm-radio" value="CCM" autocomplete="off" />
                <label class="btn btn-sm btn-outline-success" for="ccm-radio">CCM</label>
              </div> -->

              <div class="form-floating mb-2">
                <textarea
                  class="form-control"
                  placeholder="메모를 입력해주세요."
                  id="modal-memo"
                ></textarea>
                <label for="modal-memo">메모</label>
              </div>

              <details class="mb-2" id="modal-song-details">
                <summary class="small">등록 정보</summary>
                <ul class="list-group mb-2">
                  <li
                    class="list-group-item small opacity-50"
                    id="modal-created-at"
                    hidden
                  ></li>
                  <li
                    class="list-group-item small opacity-50"
                    id="modal-updated-at"
                    hidden
                  ></li>
                </ul>
                <button
                  type="button"
                  class="btn btn-danger w-100"
                  id="modal-delete-btn"
                  hidden
                >
                  삭제하기
                </button>
              </details>
              <div>
                <button
                  type="button"
                  class="btn btn-outline-primary w-100 mb-2"
                  id="modal-select-btn"
                  hidden
                >
                  선택하기
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <div class="d-flex align-items-center">
          <select
            style="width: 70%"
            name="lines-per-slide"
            class="form-select me-1"
            id="lines-per-slide"
          >
            <option value="1">1줄 씩</option>
            <option value="2" selected>2줄 씩</option>
            <option value="3">3줄 씩</option>
            <option value="4">4줄 씩</option>
            <option value="5">5줄 씩</option>
            <option value="6">6줄 씩</option>
          </select>
          <button
            type="button"
            class="btn btn-outline-primary flex-shrink-0"
            id="song-modal-auto-align-btn"
          >
            정렬
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-primary" id="modal-save-btn">
            저장
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="modal-modify-btn"
            hidden
          >
            수정
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            닫기
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- hymn lyrics modal -->
<div
  class="modal fade"
  id="hymnLyricsModal"
  tabindex="-1"
  aria-labelledby="hymnLyricsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center text-truncate">
          <h1 class="modal-title fs-5" id="hymnLyricsModalLabel">Hymn Title</h1>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="hymn-modal-body">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >1절</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >2절</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
      </div>

      <div class="modal-footer justify-content-between">
        <div class="d-flex align-items-center">
          <select
            style="width: 70%"
            name="hymn-lines-per-slide"
            class="form-select me-1"
            id="hymn-lines-per-slide"
          >
            <option value="1">1줄 씩</option>
            <option value="2" selected>2줄 씩</option>
            <option value="3">3줄 씩</option>
            <option value="4">4줄 씩</option>
            <option value="5">5줄 씩</option>
            <option value="6">6줄 씩</option>
          </select>
          <button
            type="button"
            class="btn btn-outline-primary flex-shrink-0"
            id="hymn-modal-auto-align-btn"
          >
            정렬
          </button>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-primary"
            id="hymn-modal-modify-btn"
          >
            수정
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            닫기
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- settings modal -->
<!-- <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="songDetailModalLabel">New Song</h1>
        <button type="button" class="btn btn-sm btn-danger mx-3" id="song-delete-btn" hidden>삭제</button>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <form>
                <div class="mb-3">
                  <label for="modal-title" class="col-form-label">제목</label>
                  <input type="text" class="form-control" id="modal-title" />
                </div>
                <div class="mb-3">
                  <label for="modal-title" class="col-form-label">제목</label>
                  <input type="text" class="form-control" id="modal-title" />
                </div>
              </form>
            </div>
            <div class="col-lg-6">
              <div class="mb-3"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal-save-btn">저장</button>
        <button type="button" class="btn btn-primary" id="modal-modify-btn" hidden>수정</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
{% endblock %} {% block script %}

<script src="/js/presenter.js"></script>
<script src="/js/hymn.js"></script>
<script src="/js/bible.js"></script>
<script src="/js/responsive-reading.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pptxgenjs@3.12.0/dist/pptxgen.bundle.js"></script>
<script src="/js/generate-ppt.js"></script>

{% endblock %}
