<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: 'Noto Sans KR', sans-serif;
      }
    </style>
    <title>song list</title>
  </head>
  <body>
    <input type="text" name="search" id="search" />
    <button name="search-btn" id="search-btn">검색</button>
    <table id="song-list">
      <thead>
        <tr>
          <th>no</th>
          <th>type</th>
          <th>title</th>
          <th>add</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
  <script>
    async function getAllSongs() {
      const res = await fetch('/song');
      const songs = await res.json();
      //   console.log(songs);
      const tbody = document.querySelector('#song-list tbody');
      tbody.innerHTML = '';
      songs.forEach((song, index) => {
        const tr = document.createElement('tr');
        // no
        let td = document.createElement('td');
        td.innerHTML = index + 1;
        tr.appendChild(td);
        // type
        td = document.createElement('td');
        td.innerHTML = song.type;
        tr.appendChild(td);
        // title
        td = document.createElement('td');
        td.innerHTML = song.title;
        tr.appendChild(td);
        // add
        td = document.createElement('td');
        const addBtn = document.createElement('a');
        addBtn.href = '#';
        addBtn.innerHTML = '추가';
        td.appendChild(addBtn);
        tr.appendChild(td);
        tbody.appendChild(tr);
      });
    }

    getAllSongs();
  </script>
</html>
