{% extends 'layout.html' %}

{% block content %}
  <p>
    <h3>선택된 곡</h3>
    <button type="button" class="btn btn-danger btn-sm">초기화</button>
    <table id="selected-song-list">
      <thead>
        <tr>
          <th>no</th>
          <th>title</th>
          <th>remove</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <button type="button" class="btn btn-success">PPT 다운로드</button>
  </p>

  <p>
    <h3>곡 목록</h3>
    <!-- todo: 모달로 만들기 -->
    <input type="text" name="search" id="search"/>
    <button type="button" class="btn btn-primary" id="search-btn">검색</button>
    <div>
      <a href="./new">새로 등록하기</a>
    </div>
    <table id="song-list">
      <thead>
        <tr>
          <th>no</th>
          <th>type</th>
          <th>title</th>
          <th>select</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </p>
{% endblock %}

{% block script %}
  <script>
    async function getAllSongs() {
      const res = await fetch('/song');
      const songs = await res.json();
      //   console.log(songs);
      const tbody = document.querySelector('#song-list tbody');
      tbody.innerHTML = '';
      songs.forEach((song, idx) => {
        const tr = document.createElement('tr');
        // no
        let td = document.createElement('td');
        td.innerHTML = idx + 1;
        tr.appendChild(td);
        // type
        td = document.createElement('td');
        td.innerHTML = song.type;
        tr.appendChild(td);
        // title
        td = document.createElement('td');
        const titleLink = document.createElement('a');
        titleLink.href = '#';
        titleLink.innerHTML = song.title;
        titleLink.onclick = () => {
          alert(song.id);
        };
        td.appendChild(titleLink);
        tr.appendChild(td);
        // add
        td = document.createElement('td');
        const selectBtn = document.createElement('a');
        selectBtn.href = '#';
        selectBtn.innerHTML = '선택';
        selectBtn.onclick = (e) => {
          selectSong(song.id);
        };
        td.appendChild(selectBtn);
        tr.appendChild(td);
        tbody.appendChild(tr);
      });
    }

    const selectedSongs = [];

    async function selectSong(id) {
      try {
        const res = await fetch(`/song/${id}`);
        const song = await res.json();
        selectedSongs.push(song);
        console.log(selectedSongs);

        renderSelectedSongTable();
      } catch (error) {
        console.error(error);
      }
    }

    function renderSelectedSongTable() {
      const tbody = document.querySelector('#selected-song-list tbody');
      tbody.innerHTML = '';

      if (selectedSongs.length <= 0) {
        const tr = document.createElement('tr');
        const td = document.createElement('td');
        td.colSpan = 3;
        td.innerHTML = '선택된 곡이 없습니다. 목록에서 선택해주세요.';
        tr.appendChild(td);
        tbody.append(tr);
        return;
      }

      selectedSongs.forEach((song, idx) => {
        const tr = document.createElement('tr');
        // no
        let td = document.createElement('td');
        td.innerHTML = idx + 1;
        tr.appendChild(td);
        // title
        td = document.createElement('td');
        td.innerHTML = song.title;
        tr.appendChild(td);
        // removeBtn
        td = document.createElement('td');
        const removeBtn = document.createElement('a');
        removeBtn.href = '#';
        removeBtn.innerHTML = '취소';
        td.appendChild(removeBtn);
        tr.appendChild(td);

        tbody.append(tr);
      });
    }

    getAllSongs();
    renderSelectedSongTable();
  </script>
{% endblock %}