<div class="tab-pane fade" id="pills-responsive-reading" role="tabpanel" aria-labelledby="pills-responsive-reading-tab" tabindex="0">
  <select class="form-select mb-3" id="responsive-reading-select" aria-label="Default select example">
    <option value="">교독문 선택</option>
  </select>

  <div class="card">
    <div class="card-body" id="rr-card-body">
      <p class="card-text text-body-secondary text-center">교독문을 선택해 주세요.</p>
    </div>
  </div>
</div>