{% extends '../layout.njk' %}

{% block css %}
  <link rel="stylesheet" href="/css/presenter.css" />

  <!-- Choices.js -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
{% endblock %}

{% block content %}
  <div class="container-xxl mt-2">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <aside>
          {# set list #}
          {% include '../partials/set-list.njk' %}
        </aside>
      </div>

      <div class="col-lg-8">
        <main>
          {# main contents tab #}
          {% include '../partials/contents-tab.njk' %}
        </main>
      </div>
    </div>
  </div>

  <!-- lyrics detail modal -->
  {% include "../modals/lyrics-detail.njk" %}
  <!-- hymn lyrics modal -->
  {% include "../modals/hymn-lyrics.njk" %}
  <!-- settings modal -->
  {% include "../modals/settings.njk" %}
{% endblock %}

{% block script %}
  <!-- Choices.js  -->
  <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
  <!-- PptxGenJS -->
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/pptxgenjs/dist/pptxgen.bundle.js"></script>

  <script type="module" src="/js/main.js"></script> 
{% endblock %}